@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Index {
  padding: 20px;
  background: $cb-blue;
  text-align: center;
  border-radius: 3px;
  color: #fff;

  img {
    width: 100px;
    height: auto;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
    color: lighten($cb-blue, 25%);
  }

  > div {
    display: inline-block;
    margin: 10px 0 0;

    .btn:first-child {
      margin-right: 10px;
    }

    .btn {
      border: none;
    }
  }

  span {
    color: $white;
  }

  footer {
    margin: 20px -20px -20px;
    border-top: 1px solid darken($cb-blue, 10%);
    padding: 20px;

    p {
      font-size: 14px;
      line-height: 22px;
      color: lighten($cb-blue, 35%);
      margin: 0;
    }

    p a {
      color: lighten($cb-blue, 35%);
      text-decoration: underline;
    }
  }
}

.react-count-down {
  height: 33.33px !important;
  font-size: 24px !important;
  text-align: center !important;
  font-weight: bold !important;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $white;
}
@include breakpoint(tablet) {
  .Index {
    padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}
@include breakpoint(desktop) {
  .Index {
    padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}
// DONUT CHART

.donutchart-arcs-path,
.donutchart-legend-item-label,
.donutchart-legend-item-rect {
  cursor: pointer;
}

.donutchart-innertext-label {
  font-size: 18px;
}

.donutchart-innertext-value {
  font-size: 36px;
  font-weight: bold;
}

.donutchart-arcs-path,
.donutchart-legend-item-rect {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: DrawLine, FillIn;
  animation-delay: 0.5s, 2s;
  animation-duration: 3s, 1s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
@keyframes DrawLine {
  to {
    stroke-dashOffset: 0;
  }
}
@keyframes FillIn {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

.selected.donutchart-legend-item-label,
.toggled.donutchart-legend-item-label {
  fill: #f44336;
  text-decoration: underline;
}
//
.previous-turn {
  padding-top: 10px;
  padding-bottom: 10px;
}
//
.wheel-section-collapsed {
  max-height: 55px !important;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s;
}

.wheel-section {
  background-color: $black02;
  color: $white;
  padding-bottom: 20px;
  margin-top: 20px;
  max-height: auto;
  /* Set our transitions up. */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s;

  .expand-icon {
    position: absolute;
    right: 20px;
    top: 14px;
  }
  //

  .bet-histories {
    .bet-history-container {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom-color: $white01;
      border-bottom-width: 1px;
      border-bottom-style: solid;

      .bet-history-timestamp {
        flex: 1;
        color: $gray-light;
        padding-left: 5px;
      }

      .bet-history-description {
        flex: 2;
      }
    }
  }

  .betting-options-wrapper {
    display: flex;
    justify-content: center;

    .betting-option-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      margin: 10px;

      img {
        margin-top: 4px;
        max-width: 80px;
      }
    }

    .betting-option-container-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      margin: 10px;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;

      img {
        margin-top: 4px;
        max-width: 80px;
      }
    }
  }

  .bet-input-container {
    display: flex;
    justify-content: center;

    input {
      max-width: 120px;
    }
  }
}
