@import '../../stylesheets/colors';

.App > .container {
  margin-bottom: 20px;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.App .verify-email {
  margin-bottom: 0;
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  color: $gray-dark !important;
  border-radius: 0;

  p {
    padding: 19px;
  }

  .btn {
    padding: 0;
  }
}

body {
  /* Location of the image */
  background-image: url("img/dark-background.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
   the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
   on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
   while the background image is loading */
  background-color: #464646;
}
//navbar
.navbar-default {
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(255,255,255,0.1);
  margin: 0 !important;
}

//
.has-feedback .form-control {
    padding-right: 0 !important;
}

.ReactConfirmDialog {
  color: rgb(0,0,0);
}

.ReactSlackChat__card___J9iuF {
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
    color: black;
    height: 60px;
    overflow: hidden;
    position: fixed;
    right: 40px;
    bottom: 0;
    width: 340px;
    cursor: pointer;
    z-index: 1;
}
