@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $white01;
  border-top: 1px solid $white01;
  padding: 20px 0;

  p {
    color: $gray-light;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    float: left;

    &:first-child {
      margin-right: 15px;
    }

    a {
      color: $gray-light;
    }

    a:active,
    a:focus,
    a:hover {
      text-decoration: none;
      color: $gray;
    }
  }
}
@include breakpoint(tablet) {
  .Footer ul li:first-child {
    margin-right: 30px;
  }
}
