@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

body {
  color: $white;

  tr {
    border-color: white;
    border-style: solid;
    border-width: 1px 0 1px 0;
  }

  thead {
    tr {
      height: 30px;
    }
  }

  .rc-table-body {
    margin-top: 16px;
  }
}

.bo-currency-container {
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;

  .bo-currency-values {
    display: flex;
    flex-direction: row;

    span {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.bo-currency-action-container {
  margin-top: 10px;
  display: flex;
}
